#pageBody{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

#credits{
	text-align: center;
}

#bandNames {
	font-size: 1.5rem;
	margin: 30px 0px 50px;
}

#history {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 60%;
}